.member_list {
    color: white;
    width: calc(100% - 60px);
    height: 200px;
    margin: 0;
    position: relative;
    background-color: #eee;
    padding: 1em;
}

.member_list h2 {
    height: 40px;
    margin: 0;
    padding: 0;
    position: absolute;
  top: -1em;
  background-color: rgba(100,100,100,0.4);
  padding: 0.25em 2em;
  color: #fff;
  transform: rotate(-4deg);
}

.member_list ul {
    height: calc(100% - 40px);
    width: calc(100% - 60px);
    margin: 0;
    padding: 0;
    overflow:auto;
}

@media screen and (max-width:480px) {
    /*スマホを480px以下と定義してスマホ対応デザインにする*/
    #all {
        width: 80%;
        font-size: 80%;
    }
}

@media screen and (min-width:480px) {
    #all {
        margin: 0 auto;
    }
    .member_list {
        height: 40%;
    }
}