/* レンガ背景のやつ */
/*.member_list {
    width: calc(100% - 60px);
    height: 40%;
    margin: 0 0 3vh 0;
    position: relative;
    background-image: url("icon/back_normal.png");
    background-size: 40%;
    padding: 1em;
}

.member_list h2 {
    height: 8vw;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    font-size: 5vw;
    top: -1em;
    background-color: rgba(50,50,50,0.8);
    padding: 0.25em 1em;
    color: red;
    transform: rotate(-10deg);
}

.member_list .group_member {
    position: relative;
    align-items: center;
    color: black;
    height: calc(100% - 2em);
    width: 100%;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0 0.5em 0;
    overflow: auto;
    background-color: rgba(255,255,255,0.4);
}*/

/* form準拠 */
.userName {
    margin: 2em 0 0;
}

.member_list {
    height: 40%;
    color: #C9C9C9;
    position: relative;
    margin: 2em 0 6vh;
    padding: 0.5em 1em;
    border: solid 2px #DF0101;
    border-radius: 8px;
    width: calc(100% - 60px);
}

.member_list ::-webkit-scrollbar {
    display: none;
  }

.member_list h2 {
    position: absolute;
    display: inline-block;
    top: -2.5vw;/* 枠にかかるようにテキストを配置 */
    left: 28px;
    margin: 0;
    padding: 0 9px;
    line-height: 1;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 5vw;
}

.member_list .group_member {
    position: relative;
    align-items: center;
    color: white;
    height: calc(100% - 2em);
    width: 100%;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0 0.5em 0;
    overflow: auto;
    /*background-color: rgba(255,255,255,0.4);*/
}

@media screen and (max-width:480px){/*スマホを480px以下と定義してスマホ対応デザインにする*/
    #all {
        width: 80%;
        font-size: 80%;
    }

}

@media screen and (min-width:480px) {
    #all {
        margin: 0 auto;
    }
    .contents .title img{
        width: 65%;
    }
    .topic h2 {
        font-size: 2vw;
    }
    .userName form {
        margin: 2em 0 2em 0;
        padding: 0.5em 0 0.5em 0;
    }
    .userName .user_label {
        font-size: 2vw;
    }
    .userName .user_name {
        font-size: 2vw;
        height: 3vw;    
    }   
    .userName, .member_list {
        width: 60%;
    }
    .userName h2, .member_list h2 {
        top: -1vw;/* 枠にかかるようにテキストを配置 */
        font-size: 2vw;
    }
    .member_list {
        height: 40%;
    }
    /*
    .member_list h2 {
        height: 3vw;
        font-size: 2vw;
    }
    .member_list .group_member li {
        font-size: 2vw;
    }*/
    .member_list .group_member li {
        font-size: 2vw;
    }
    .button {
        width: 30%;
    }
    .button .submit {
        padding: 15px;
        font-size: 20px;
        border-radius: 8px;
    }
    .home a {
        font-size: 20px;
    }
}