html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    /*background-image:url("icon/back_normal.png");
    background-size:30%;*/
}

.start_page {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: stretch;/*横方向*/
    align-items: center;/*縦方向*/
    text-align: center;
    flex-direction: column;/*横並びを立て並びにしている*/
}

.start_page .title {
    margin: 0;
    padding: 0;
}

.title h1 {
    margin:auto;
    padding: 0;
    width: 100%;
    border-bottom: solid;
    border-color: #585858;
    background-color: black;
}

.title h1 img{
    margin: 0 auto;
    width: calc(100% - 10px);
    justify-content: stretch;/*横方向*/
}

.message {
    width: calc(100% - 60px);;
    background-color: black;
}

.message p {
    margin: 50px 0 40px 0;
    padding: 0;
    color: white;
    white-space : pre;
    align-items: center;/*横方向*/
    font-family: "ＭＳ 明朝";
    text-shadow: -13px 0px 20px rgba(255, 255, 240, 0.7), 13px 0px 20px rgba(255, 255, 240, 0.7); 
}

.message .ff_font {
    color: #FF0000;
    font-size: 20px;
    font-style: bold;
    text-shadow: -13px 0px 20px rgba(247, 129, 129, 0.7), 13px 0px 20px rgba(247, 129, 129, 0.7);
}

.start_page .down {
    width: calc(100% - 60px);
    padding: 0;
    margin: 0;
}

.start_page .down .fa-chevron-down {
    width: 100%;
    padding: 3px 0;
    background-color: #383838;
    font-size: 10px;  
    color: white;
}

.description {
    /*display: none;*/
    visibility: hidden;
    position: absolute;
    width: calc(100% - 68px);
    /*padding: 0;*/
    color: white;
    white-space : pre;
    align-items: center;/*横方向*/
    border: solid;
    border-color: #585858;
    border-width: 4px;
    transform: translateY(-105%);
    background-color: rgba(110,110,110,0.5);
}

.des_open .description {   
    transition: transform .6s;
    position: relative;
    z-index: -50;
    /*display: block;*/
    visibility: visible;
    /*animation: show 1s linear 0s;*/
    transform: translateX(0);
}

/*
@keyframes des_open {
    from{
        transform: translateY(-105%);
    } to {
        transform: translateX(0);
    }
}
*/
.back_img img {
    margin:20px 0 30px;
    padding: 0;
    width: calc(100% - 40px);
}

.button {
    justify-content: center;/*横方向*/
    align-items: center;/*縦方向*/
    vertical-align:middle;
    width: 40%;
}

.button .host, .guest {
    width: 100%;
    border: double;
    margin: 0px 0px 10px;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    color: #DF0101;
    background:white;
    border-color: #DF0101; 
    transition: .4s;
    font-size: 15px;
    border-radius: 5px;
/*
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;*/
}

.host:hover, .guest:hover, .host:active, .guest:active {
    background: #DF0101;
    color: white;
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.host .fa-users, .guest .fa-user-plus {
    font-size: 20px;
}

/*
content: "";
display: block;
position: absolute;
*/

@media screen and (max-width:480px){/*スマホを480px以下と定義してスマホ対応デザインにする*/
    #all {
        width: 80%;
        font-size: 80%;
    }
}

@media screen and (min-width:480px){
    #all {
        margin: 0 auto;
    }
    .message p {
        font-size: 30px;
    }
    .message .ff_font {
        font-size: 40px;
    }
    .description {
        font-size: 25px;
        width: calc(60% - 8px);
    }
    .start_page .down {
        font-size: 20px;
        width: 60%;
    }
    .back_img img {
        width: 60%;
    }
    .button {
        width: 30%;
    }
    .button .host, .guest {
        padding: 15px;
        font-size: 20px;
        border-radius: 8px;
    }
    .host .fa-users, .guest .fa-user-plus {
        font-size: 25px;
    }
}