html, body {
    height: 100%;
    margin: 0;
    width: 100%;
    padding: 0;
}

body {
    background-color: black;
    background-image:url("player_icon.png");
}

.element {
    width:100%;
    text-align: center;
    margin: 0;
    padding: 0;
    /*overflow:auto;*/
}

.element h1 {
    font-size:200%;
    color: white;
    font-weight: bold;
    margin: 160px, 0, 60px;
    padding: 0;
    /*padding: 50px,0px,50px,0px;*/
}

.element .description {
    font-size:100%;
    color: white;
    margin: 100px, 0, 160px;
    white-space : pre;
}

buttonについて 
.element .button {
    margin: 0;
    padding: 0;
}


/*
content: "";
display: block;
position: absolute;
*/

@media screen and (max-width:480px){/*スマホを480px以下と定義してスマホ対応デザインにする*/
    #all {
        width: 80%;
        font-size: 80%;
    }
}
@media screen and (min-width:480px){
    #all {
        margin: 0 auto;
    }   
}