html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.contents {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: stretch;/*横方向*/
    align-items: center;/*縦方向*/
    text-align: center;
    flex-direction: column;/*横並びを立て並びにしている*/
}

.contents .title {
    margin: 0;
    padding: 0;
    width: 100%;
    /*
    border-bottom: solid;
    border-color: #585858;
    */
    background-color: black;
}

.contents .title img {
    margin: 0 auto;
    width: calc(100% - 10px);
    justify-content: stretch;/*横方向*/
}

.topic {
    width: 100%;
    background-color: rgba(109,109,109,0.5);
    border-top: solid #585858;
    border-bottom: solid #585858;
}

.topic h2 {
    color: white;
    padding: 4vw 0 4vw 0;
    font-size: 4vw;
    margin: 0;
}

/* 登録フォームについて */
.userName {
    color: #C9C9C9;
    position: relative;
    margin: 2em 0 10vh;
    padding: 0.5em 1em;
    border: solid 2px #DF0101;
    border-radius: 8px;
    width: calc(100% - 60px);
}

/* 登録フォームタイトル */
.userName h2 {
    position: absolute;
    display: inline-block;
    top: -2.5vw;/* 枠にかかるようにテキストを配置 */
    left: 28px;
    margin: 0;
    padding: 0 9px;
    line-height: 1;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 5vw;
}

.userName form {
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0 0.5em 0;
}

.userName .user_label {
   font-size: 4vw;
   margin: 0;
   padding: 0;
}

.userName .user_name {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    border:1px solid #525252;     /* 枠線の装飾 */
    background-color: #fff;   /* 背景色 */
    border-radius: 8px;         /* CSS3 */
    -moz-border-radius: 8px;    /* Firefox */
    -webkit-border-radius: 8px; /* Safari,Chrome */
    
    font-size: 4vw;
    height: 6vw;    
}

.userName .user_name:hover, .userName .user_name:active {
    outline: 0;
    border-color: #C9C9C9;
    -webkit-box-shadow: 0px 0px 10px rgba(223,1,1,1);
    -moz-box-shadow: 0px 0px 10px rgba(223,1,1,1);
    box-shadow: 0px 0px 10px rgba(223,1,1,1);
}

/* ボタンについて */
.button {
    justify-content: center;/*横方向*/
    align-items: center;/*縦方向*/
    vertical-align:middle;
    width: 40%;
}

.button .submit {
    width: 100%;
    border: double;
    margin: 0px 0px 10px;
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    color: #DF0101;
    background:white;
    border-color: #DF0101; 
    transition: .4s;
    font-size: 15px;
    border-radius: 5px;
}

.submit:hover, .submit:active {
    background: #DF0101;
    color: white;
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.home {
    margin: 1vh 0 8vh 0;
}
.home a {
    font-size: 15px;
    color: #DF0101;
    text-shadow: -13px 0px 20px rgba(247, 129, 129, 0.7), 13px 0px 20px rgba(247, 129, 129, 0.7);
}